---
siteName: YourSiteName
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{siteName}} | {{ title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="">
  <meta name="author" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="site-header">
        <!-- add site wide header content here -->
        {% include "nav-collection.njk" %}
  </header>

  <main class="{{ pageClass }}">
    {{ content | safe }}
  </main>
  
  <footer class="site-footer">
    <div>
      <p>&copy; Add Footer Info here</p>
      <!-- You can change all of this footer content. -->
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>