<nav class="site-nav">
  <div class="logo" >
    Logo
  </div>
  <div class="links" role="list">
    {%- for navItem in collections.navItem %}
    <a {% if navItem.url === page.url %}aria-current="page"{% endif %} 
        href="{{ navItem.url }}">
          {{ navItem.data.title }}
    </a>
    {%- endfor %}
  </div>
</nav>