<nav class="site-nav">
  <a href="/index">
  <div class="logo">
  <img class="rythmiclogo" src="/images/rythmic.png" alt="Rhythmic">
  </div>
  </a>
  <div class="links" role="list">
    <a href="/">Home</a>
    <a href="/team">Team</a>
  </div>
</nav>
