@use 'normalize';
@use 'responsive';
@use 'typography';
@use 'layout';
@use 'nav-basic';
@use 'nav';
@use 'spotlight';

// If you add another partial then make sure to:
//    1. Put an underscore _ at the beginning of the name and end with .scss
//    2. add an @use above to include it. DO not add the .scss

/* ================= ===========================
  ADD YOUR CSS HERE 
  ================================================ */

  @media (max-width:400px) {
    .genre{
      grid-template-columns: 1fr;
      margin-left: 50px;
    }

    .fig-img-container{
      
    }

    .desc{
      grid-column: 1/3;
      text-align: center;
      font-size: 12px;
      width: 275px;
      justify-self: left;
    }

    #hh{
      margin-left: 50px;
    }

    .fix{
      padding-right: 100px;
    }
    
  }